html, body {
  /* height: 100%; */
  /* width: 100%; */
  background: #673ab7 !important;
}

#full {
  display: flex;
  flex-direction: column;
}

header {display: flex;flex-direction: column;align-items: center;padding: 8px;}
.t1 {color: orangered;}
.t2 {color: orange}
.t3 {color: yellow;}

#title {
  color: cyan;
  text-decoration: none;
  font-family: Trebuchet MS;
  font-size: x-large;
  /* font-weight: bold; */
}

#subtitle {
  color: white;
  font-family: Consolas;
  align-self: center;
}