@font-face {font-family: Trebuchet MS;src: url('trebuc.ttf');}
@font-face {font-family: Tahoma;src: url('tahoma.ttf');}
@font-face {font-family: Consolas;src: url('consola.ttf');}
@font-face {font-family: Product Sans;src: url('ProductSans-Regular.ttf');}