html, body, document {
  height: 100%;
}
body {
  margin: unset;
}
document {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1, p {text-shadow: 0 0 8px white;}